// components/index.templ
package components

import "github.com/00mark0/macva-news/db/services"

templ main() {
	<main>
		<h1 class="text-gray-800 dark:text-gray-200 text-center">Home Page</h1>
	</main>
}

templ Index(props ...interface{}) {
	@Layout(props[0].(db.GetUserByIDRow), props[1].(Meta), props[2].([]db.Ad), props[3].([]db.Category), main())
}
